<component name="ArtifactManager">
  <artifact type="war" name="spring-web:war">
    <output-path>$PROJECT_DIR$/spring/spring-web/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-web</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="jboss-seam-spring.war">
      <element id="artifact" artifact-name="spring-web:war exploded" />
    </root>
  </artifact>
</component>